<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/mystyles.css}">
</head>
<body>
<div class="container-fluid mt-1">
    <header class="row bg-dark">
        <div class="col-3"><img th:src="@{/images/easyLifeLogo.png}" height="100px" ></div>
    </header>
    <div id="mainContent" class="row pad mt-4 text-center">
        <h2 class="myfont">Welcome to EasyLife</h2>
        <h4 class="myfont">shopping list made easier by keeping track of your household inventory </h4>
        
        <div class="col-8 custom-margins">
          <div th:insert="~{fragments/fragment.html :: carousel}"></div>
        </div>
        <div id="form1" class="col-4 text-center bg-warning custom-margins">
            <form method="post" th:action="@{/user_login}"
            class="d-inline-block align-items-center justify-content-center mt-5">
              <h6>Please login to your account</h6>
              <div class="form-outline mt-4 mb-2">
                <input type="email" id="uemail" name="email" class="form-control"
                  placeholder="Email address" pattern = "^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$"
                  title="Please provide email in correct format as name@mail.com" required/>
                <label class="form-label" for="uemail"></label>
              </div>

              <div class="form-outline mb-2">
                <input type="password" id="upassword" name="password" class="form-control" placeholder="password" required/>
                <label class="form-label" for="upassword"></label>
              </div>

              <div class="d-flex align-items-center justify-content-center pt-1 mb-4 pb-1">
                <button class="btn btn-dark btn-block mb-3 me-3" type="submit">Log
                  in</button>
              </div>
              <div class="d-flex align-items-center justify-content-center pt-1 mb-4 pb-1">
                  <h6 th:text="${notExist}"></h6>
              </div>

              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Don't have an account?</p>
                <button id="signup" type="button" class="btn btn-dark text-white" 
                onclick="toggle('form1','form2')">Create new</button>
              </div>
            </form>  
        </div>
        <div id="form2" class="col-4 text-center bg-warning custom-margins">
            <form method="post" th:action="@{/user_registration}" th:object="${newUser}" class="d-inline-block align-items-center justify-content-center mt-4" >
              <h6>Please create your account</h6>
              <div class="form-outline mt-4 mb-1">
                <input type="text" id="name" name="name" class="form-control"
                  placeholder="Full Name" pattern="^[a-zA-Z ]+" minlength="3" maxlength="25" title="Valid name must contain only letters" required/>
                <label class="form-label" for="name"></label>
              </div>

              <div class="form-outline mb-1">
                <input type="email" id="email" name="email" class="form-control"
                  placeholder="Email address" pattern = "^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$" title="please provide email in correct format as name@mail.com" required/>
                <label class="form-label" for="email"></label>
              </div>

              <div class="form-outline mb-1">
                <input type="password" id="password" class="form-control" placeholder="password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])([a-zA-Z0-9@$!%*?&]{8,})$" title="Password should be 8 characters long and must contain 1 lowercase, 1 uppercase, 1digit and 1 special character"
                required/>
                <label class="form-label" for="password"></label>
              </div>

              <div class="form-outline mb-1">
                <input type="password" id="confirmP" name="password" class="form-control" placeholder=" confirm password" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&])([a-zA-Z0-9@$!%*?&]{8,})$" title="Password should be 8 characters long and must contain 1 lowercase, 1 uppercase, 1digit and 1 special character" required/>
                <label class="form-label" for="confirmP"></label>
              </div>

              <div class="d-flex align-items-center justify-content-center pt-1 mb-2 pb-1">
                <button class="btn btn-dark btn-block mb-2 me-3" type="submit" >Sign Up</button>
              </div>

              <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Already have an account?</p>
                <button id="login" type="button" class="btn btn-dark text-white"
                onclick="toggle('form2','form1')">Log in</button>
              </div>
            </form> 
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script th:src="@{/javascript/script.js}">

</script>
</body>
</html>