<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/mystyles.css}">
</head>
<body>
<div class="container-fluid mt-1">
    <header class="row bg-dark">
        <div class="col-3"><img th:src="@{/images/easyLifeLogo.png}" height="100px" ></div>
    </header>
    <div class="row mymargin text-center">
        <div class="col-3"></div>
        <div class="col-6 bg-warning mt-2 mb-2">
            <h4>Thank you for using EasyLife.</h4>
            <br>
            <h4>Your session has ended.</h4>
        </div>
        <div class="col-3"></div>
    </div> 
    <div class="row m-auto text-center">
        <div class="col-5"></div>
        <div class="col-2 card text-center bg-warning">
            <div class="card-body">
                <a th:href="@{/}" class="text-decoration-none text-dark" target="_parent"><h5 class="card-text">Homepage</h5></a>
            </div>
        </div>    
        <div class="col-5"></div>
    </div>
</div>
</body>
</html>